[submodule "vendors/bootstrap"]
	path = vendors/bootstrap
	url = https://github.com/twitter/bootstrap.git
[submodule "vendors/twig"]
	path = vendors/twig
	url = https://github.com/fabpot/Twig.git
[submodule "vendors/silex"]
	path = vendors/silex
	url = https://github.com/fabpot/Silex.git
