<html>
<link rel="stylesheet" href="/assets/bootstrap.min.css">
<link rel="stylesheet" href="/assets/bootstrap-responsive.css">
<style type="text/css">
body{
    position: relative;
    padding-top: 90px;
}
</style>
<body>
    <div class="navbar navbar-fixed">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="/">kokuban</a>
            </div>
        </div>
    </div>

    <div class="fluid-container sidebar-right">
        <div class="fluid-sidebar">
        <ul class="nav list">
            <li class="nav-header">revisions</li>
             {% for commit in revisions %}<li><a href="/{{id}}/{{commit.getOid}}">{{commit.getOid()}}</a></li>{% endfor %}
        </ul>
    </div>

    <div class="fluid-content">
        <div class="overview">
            <div>
                <div>kokuban: {{id}}</div>
                <div>clone: <input class="span4" type="text" value="http://localhost:8081/{{id}}.git" /></div>
            </div>
                <div>
                <div>description:</div>
                {% for t in tree %}
                <div>name: {{t.entry.name}}</div>
                <pre>{{t.object.getContent}}</pre>
                </div>
                {% endfor %}
        </div>
    </div>
  </div>

</body>
</html>
